
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template:
      'item1 item2'
      'item3 item4'
      'item5 item5';
  }
  
  .item1, .item2, .item3, .item4, .item5 {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 454px;
    height: 170px;
  }
  
  .home-link {
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }

  .todosindex {
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template:
      'b1 b2'
      'b3 b4'
      'b5 b6';
  }